/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/
@media only screen and (max-width: 768px) {
	.display-none-mb {
		display: none;
	}

}

@media only screen and (min-width: 768px) {
	.display-none-dt {
		display: none;
	}

}